@font-face {
    font-family: "Roboto mono";
    src: url("../fonts/RobotoMono-Thin.woff") format("woff"),
         url("../fonts/RobotoMono-Thin.woff2") format("woff2");
    font-style: normal;
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: "Roboto mono";
    src: url("../fonts/RobotoMono-Light.woff") format("woff"),
         url("../fonts/RobotoMono-Light.woff2") format("woff2");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Roboto mono";
    src: url("../fonts/RobotoMono-Regular.woff") format("woff"),
         url("../fonts/RobotoMono-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Roboto mono";
    src: url("../fonts/RobotoMono-Bold.woff") format("woff"),
         url("../fonts/RobotoMono-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}