@page {
    size: A4;
    margin: 0mm !important;
}

@media print {
    html {
        font-size: 80%
    }

    main {
        @apply grid grid-cols-[35%,65%] h-screen;
    }

    aside {
        .avatar {
            @apply block #{!important};
        }

        .container {
            break-inside: avoid;
        }

        .name-and-position {
            @apply hidden;
        }
    }

    .name-and-position {
        @apply block;
    }

    .experience-item,
    .education-item {
        break-inside: avoid;
    }

    .container {  
        h3 {
            @apply text-lg;
        }

        p {
            @apply text-base;
        }

        ul > li {
            @apply text-base;
        }
    }

    .rounded-link {
        @apply hidden;
    }
}
