@page {
  size: A4;
  margin: 5mm 0mm !important;
}

@media print {
  html {
    font-size: 80%;
  }

  .container {
    h3 {
      @apply text-lg;
    }

    p {
      @apply text-base;
    }

    ul > li {
      @apply text-base;
    }
  }
}
